.navbar {
  background-color: #ffffff;
  color: #FFF;
  border-bottom: 0px;
  border-bottom-style: solid;
  border-bottom-color: #ffffff;
}

/* Left menu bar */
.nav-menu {
  background-color: #e0dfdf;
  color: #382e25;
}

.nav-menu h3.title {
  color: #382e25;
  font-weight: 1000;
  margin-top: 15px;
}

.logo {
  max-height: 60px;
  margin-left: 10px;
  margin-top: 20px;
}

.doc h1, .doc h2, .doc h3, .doc h4, .doc h5, .doc h6 {
  color: #382e25;
}

/* navbar background and bottom border color */
.navbar {
  background-color: #463c34;
  border-bottom-color: #957559;
}

.navbar-end .navbar-link:hover, .navbar-end>a.navbar-item:hover {
  background-color: #957559;
  color: #382e25;
}

.navbar-item.has-dropdown:hover .navbar-link {
  background-color: #957559;
  color: #382e25;
}

.navbar-end .navbar-link, .navbar-end>.navbar-item {
  color: #957559;
}

@media screen and (min-width: 1025px) {
  .article-aside {
    right: 50px;
  }
}

.toolbar {
  color: #686565;
  background-color: #e0dfdf;
  -webkit-box-shadow: 0 1px 0 #e1e1e1;
  box-shadow: 0 1px 0 #e1e1e1;
}

/* Icon on nav-menu */
.navbar-end .fa, .navbar-end .fab, .navbar-end .far, .navbar-end .fas {
  font-size: 22px;
  padding-right: 5px;
}

.doc .admonitionblock .icon {
    border-radius: 1rem;
}

i.fa[class^='icon-'],
i.fa[class*=' icon-']::before {
    content: "";
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.25rem;
    margin-left: -0.5rem;
}

i.fa.icon-note::before {
    background: no-repeat url("../img/note.svg");
}

i.fa.icon-tip::before {
    background: no-repeat url("../img/tip.svg");
}

i.fa.icon-important::before {
    background: no-repeat url("../img/important.svg");
}

i.fa.icon-warning::before {
    background: no-repeat url("../img/warning.svg");
}

i.fa.icon-caution::before {
    background: no-repeat url("../img/caution.svg");
}

.nav-panel-menu {
  background-color: #e0dfdf;
}
